<div class="nav-bar">
  <span>Pop corn</span>
  <span>
    <span><%= link_to "My lists", lists_path %></span>
    <span><%= link_to "New list", new_list_path %></span>
  </span>
</div>

<div class="hero-banner">
  <div class="container container-center-inline">
    <h1>Be original and download your movies !</h1>
    <p>Classic</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>


<div class="container">
  <h3>All my lists</h3>
  <ul>
    <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list.id) %></li>
    <% end %>
  </ul>
</div>
